body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /*Altura máxima permitida do navegador*/
  background-color: #eee;
  margin: 0;
}

.tabuleiro {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap; 
  border: 2px solid #000;
}

.casa {
  width: 50px; 
  height: 50px;
}

.casa:nth-child(16n+2),  
.casa:nth-child(16n+4),
.casa:nth-child(16n+6),
.casa:nth-child(16n+8),
.casa:nth-child(16n+9),
.casa:nth-child(16n+11),
.casa:nth-child(16n+13),
.casa:nth-child(16n+15) {
  background-color: black;
}


